# Ignore my direnv setup
.envrc
.direnv
.tool-versions

# Ignore Ruby and kitchen
.bundle
Gemfile.lock
.kitchen

# Ignore Terraform state and automatic var files - except examples
.terraform
.terraform.lock.hcl
terraform.tfstate*
*.auto.tfvars*
terraform.tfvars*
!terraform.tfvars.example
